<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="./style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>Document</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <input 
        class="new-todo"
        autofocus
        autocomplete="off"
        placeholder="What needs to be done ?"
        v-model="newTodo"
        @keyup.enter="addTodo">
    </header>
    <section class="main" v-cloak v-show="todos.length">
      <!-- TODO: toggle-all只在有todo时显示 -->
      <input
        :class="{allDoneCompleted: allDone}" 
        class="toggle-all el-icon-arrow-down" 
        type="checkbox" 
        v-model="allDone"
      >
      <ul class="todo-list">
        <li v-for="todo in filteredTodos"
          class="todo"
          :key="todo.id"
          :class="{ completed: todo.completed, editing: todo == editedTodo }">
          <div class="view">
            <input type="checkbox" class="toggle" v-model="todo.completed">
            <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
            <button class="destroy" @click="removeTodo(todo)">x</button>
          </div>
          <!--TODO: v-todo-focus自定义指令？？ -->
          <input type="text" class="edit"
            v-model="todo.title"
            v-todo-focus="todo == editedTodo"
            @blur="doneEdit(todo)"
            @keyup.enter="doneEdit(todo)"
            @keyup.esc="cancelEdit(todo)">
        </li>
      </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
      <span class="todo-count">
        <strong>{{ remaining }}</strong>
        {{ remaining | pluralize}} left
      </span>
      <ul class="filters">
        <li><a href="#/all" :class="{ selected: visibility == 'all'}">All</a></li>
        <li><a href="#/active" :class="{ selected: visibility == 'active'}">Active</a></li>
        <li><a href="#/completed" :class="{ selected: visibility == 'completed'}">Completed</a></li>
      </ul>
      <button class="clear-completed" @click="removeCompleted()" v-show="todos.length
       > remaining">
        Clear completed
      </button>
    </footer>
  </section>
  <footer class="infor">
      <p>Double-click to edit a todo</p>
      <p>Written by <a href="http://evanyou.me">Evan You</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p></footer>
  <script>
    var STORAGE_KEY = 'todos-vuejs-2.o'
    var todoStorage = {
      // 从localstorage获取todos,并给每个todo加上id属性
      fetch () {
        var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
        todos.forEach(function (todo, index) {
          todo.id = index
        })
        todoStorage.uid = todos.length
        return todos
      },
      save: function (todos) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
      }
    }
    var filters = {
      all (todos) {
        return todos
      },
      active (todos) {
        return todos.filter(function (todo) {
          return !todo.completed
        })
      },
      completed (todos) {
        return todos.filter(function (todo) {
          return todo.completed
        })
      }
    }
    var app = new Vue({
      data: {
        todos: todoStorage.fetch(),
        newTodo: '',
        editedTodo: null,
        visibility: 'all'
      },
      watch: {
        todos: {
          handler: function (todos) {
            todoStorage.save(todos)
          },
          deep: true
        }
      },
      computed: {
        // 根据visibility返回过滤后的todo
        filteredTodos () {
            return filters[this.visibility](this.todos)
        },
        // 共有几个未做完的todo
        remaining () {
          return filters.active(this.todos).length
        },
        allDone: {
          // TODO: get 是用来干嘛的呢？？？
          get () {
            return this.remaining === 0
          },
          // 使得todo的completed属性与单选按钮的值绑定
          set (value) {
            this.todos.forEach(function (todo) {
              todo.completed = value
            })
          }
        }
      },
      filters: {
        pluralize (n) {
          return n === 1 ? 'item' : 'items'
        }
      },
      methods: {
        addTodo () {
          // a 为true 则返回 b，a 为false则返回 a
          var value = this.newTodo && this.newTodo.trim()
          if (!value) {
            return
          }
          this.todos.push({
            id: todoStorage.uid++,
            title: value,
            completed: false
          })
          this.newTodo = ''
        },
        // TODO:进入编辑状态,不懂！
        editTodo (todo) {
          this.beforeEditCache = todo.title
          this.editedTodo = todo
        },
        // 删除当前todo
        removeTodo (todo) {
          this.todos.splice(this.todos.indexOf(todo), 1)
        },
        // 完成编辑
        doneEdit (todo){
          if (!this.editedTodo) {
            return
          }
          this.editedTodo = null
          todo.title = todo.title.trim()
          if (!todo.title) {
            this.removeTodo(todo)
          }
        },
        removeCompleted: function () {
          this.todos = filters.active(this.todos)
        },
        //  取消编辑
        cancelEdit (todo) {
          this.editedTodo = null
          todo.title = this.beforeEditCache
        }
      },
      directives: {
        // 根据todo是否等于editTodo来判定该表单是否聚焦
        'todo-focus': function (el, binding) {
          if (binding.value) {
            el.focus()
          }
        }

      } 
    })
    function onHashChange () {
      var visibility = window.location.hash.replace(/#\/?/, '')
      if (filters[visibility]) {
        app.visibility = visibility
      } else {
        window.location.hash = ''
        app.visibility = 'all'
      }
    }
    window.addEventListener('hashchange', onHashChange)
    // TODO: 为何直接调用？
    onHashChange()
    app.$mount('.todoapp')
  </script>
</body>
</html>